# Modified form https://github.com/emard/ulx3s/blob/master/doc/constraints/ulx3s_v20.lpf
#

LOCATE COMP "clk_i" SITE "G2";
IOBUF  PORT "clk_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led_rst_on" SITE "B2";
IOBUF  PORT "led_rst_on" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpo_o" SITE "C1";
IOBUF  PORT "gpo_o" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

#############
## Buttons ##
#############

LOCATE COMP "rst_board" SITE "D6";
IOBUF  PORT "rst_board" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpi_i[0]" SITE "R18";
IOBUF  PORT "gpi_i[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpi_i[1]" SITE "V1";
IOBUF  PORT "gpi_i[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpi_i[2]" SITE "U1";
IOBUF  PORT "gpi_i[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpi_i[3]" SITE "H16";
IOBUF  PORT "gpi_i[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpi_i[4]" SITE "R1";
IOBUF  PORT "gpi_i[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpi_i[5]" SITE "T1";
IOBUF  PORT "gpi_i[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

############
## Memory ##
############

LOCATE COMP "qspi_cs_rom_on" SITE "D16";
IOBUF PORT  "qspi_cs_rom_on" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[0]" SITE "C17";
IOBUF PORT  "qspi_sdio_io[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[1]" SITE "C15";
IOBUF PORT  "qspi_sdio_io[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sck_o" SITE "D17";
IOBUF PORT  "qspi_sck_o" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[2]" SITE "C16";
IOBUF PORT  "qspi_sdio_io[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_sdio_io[3]" SITE "B17";
IOBUF PORT  "qspi_sdio_io[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "qspi_cs_ram_on" SITE "B15";
IOBUF PORT  "qspi_cs_ram_on" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

####################
## ROM Programmer ##
####################

LOCATE COMP "prg_cs_i"  SITE "C10";
IOBUF PORT  "prg_cs_i"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "prg_sck_i"  SITE "C11";
IOBUF PORT  "prg_sck_i"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "prg_copi_i"  SITE "B10";
IOBUF PORT  "prg_copi_i"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "prg_cipo_o"  SITE "A11";
IOBUF PORT  "prg_cipo_o"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;